
/* ----------------------------- */
/* Tif - Tweaks CSS              */
/* ----------------------------- */

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$small: ( map-get($breakpoints, sm) - 1 );       // max 575px
$medium: ( map-get($breakpoints, md) - 1 );      // max 767px
$large: ( map-get($breakpoints, lg) - 1 );       // max 991px
$extra-large: ( map-get($breakpoints, xl) - 1 ); // max 1199px
$small-up: map-get($breakpoints, sm);            // min 576px
$medium-up: map-get($breakpoints, md);           // min 768px
$large-up: map-get($breakpoints, lg);            // min 992px
$extra-large-up: map-get($breakpoints, xl);      // min 1200px

img.wp-smiley, img.emoji {
	display: inline;
	border: none;
	box-shadow: none;
	height: 1em;
	width: 1em;
	margin: 0 .07em;
	vertical-align: middle;
	background: none;
	padding: 0;
}
