
/* --------------------------------------- */
/* ==Grillade : ultra light Grid Layout    */
/* --------------------------------------- */

.grid {
  display: grid; }
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .gap-0 {
    gap: 0; }
  .gap-1 {
    gap: 0.5rem; }
  .gap-2 {
    gap: 0.75rem; }
  .gap-3 {
    gap: 1rem; }
  .gap-4 {
    gap: 1.5rem; }
  .gap-5 {
    gap: 2rem; }
  .gap-6 {
    gap: 3rem; }
  .gap-7 {
    gap: 5rem; }
  .gap-auto {
    gap: auto; }
  .col-start-1 {
    grid-column-start: 1; }
  .col-end-1 {
    grid-column-end: 1; }
  .col-span-1 {
    grid-column: span 1 / span 1; }
  .col-span-full {
    grid-column: 1 / -1; }
  .col-start-2 {
    grid-column-start: 2; }
  .col-end-2 {
    grid-column-end: 2; }
  .col-span-2 {
    grid-column: span 2 / span 2; }
  .col-span-full {
    grid-column: 1 / -1; }
  .col-start-3 {
    grid-column-start: 3; }
  .col-end-3 {
    grid-column-end: 3; }
  .col-span-3 {
    grid-column: span 3 / span 3; }
  .col-span-full {
    grid-column: 1 / -1; }
  @media (min-width: 576px) {
    .sm\:grid {
      display: grid; }
      .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)); }
      .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); }
      .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
@media (min-width: 768px) {
  .md\:grid {
    display: grid; }
    .md\:grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr)); } }
@media (min-width: 992px) {
  .lg\:grid {
    display: grid; }
    .lg\:grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .lg\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .lg\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr)); } }
@media (min-width: 1200px) {
  .xl\:grid {
    display: grid; }
    .xl\:grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .xl\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .xl\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr)); } }
