@charset "utf-8";

label.tif-customizer-title {
	display: block;
	width: 100%;
	background: #1f84b4;
	line-height: 1;
	margin-top: 1rem;
	font-weight: bold;
	font-size: 0.9rem;
}
label.tif-customizer-title.heading,
label.tif-customizer-title.heading.title {
	background: #1f84b4;
}
label.tif-customizer-title.heading.sub-title {
	background: #cecece;
	margin-bottom: 12px;
}
li[id*='_subtitle'] label.tif-customizer-title.sub-title {
	margin-bottom: 0px;
}
label.tif-customizer-title span {
	background: #eee;
	margin-left: 5px;
	padding: 0 10px;
}

h1.tif-plugin-title {
	padding-left: 30px;
	padding-right: 30px;
}

h1.tif-plugin-title::before {
	content:url(../img/tif.svg);
	margin-left: -30px;
	position: absolute;
}
/* Responsive inline form with Grid layout */
.tif-form.inline .wrap-option {
	display: grid;
	grid-gap: 0;
}
.tif-form.inline .wrap-option > label,
.tif-form.inline .wrap-option > header {
	order: -1;
	display: flex;
	align-items: center;
	/* padding: 10px; */
}
.tif-form.inline .wrap-option > small{
	order: 2;
}
.tif-form.inline .restricted-area{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 992px){
	.tif-form.inline .wrap-option{
		grid-template-columns: repeat(5, 1fr);
	}
	.tif-form.inline .wrap-option > label,
	.tif-form.inline .wrap-option > header {
		grid-row: 1 / 6;
		order: 1;
	}
	.tif-form.inline .wrap-option > textarea,
	.tif-form.inline .wrap-option > input,
	.tif-form.inline .wrap-option > select,
	.tif-form.inline .wrap-option > ul,
	.tif-form.inline .wrap-option > img,
	.tif-form.inline .wrap-option > div,
	.tif-form.inline .wrap-option > .wp-picker-container,
	.tif-form.inline .wrap-input  {
		order: 2;
		grid-column: 2 / 4;
		margin: 10px 0 10px 10px;
	}
	.tif-form.inline .wrap-option > input[type=button] {
		grid-column: 2 / 2;
	}
	.tif-form.inline .wrap-option > ul.tif-radio-img {
		grid-column: 2 / 6;
	}
	.tif-form.inline .wrap-input  {
		margin: 0;
	}
	.tif-form.inline .wrap-option > small {
		order: 3;
		grid-column: 2 / 6;
		margin: 0 0 10px 10px;
		width: 60%;
	}
}
/* Tif form layout */
.tif-form,
.tif-form > *,
.tif-form fieldset,
.tif-form .wrap-option > * {
	box-sizing: border-box;
}
.tif-form fieldset {
	border-radius:4px;
	padding:10px;
	width: 100%;
	margin-bottom: 20px;
}
.tif-form fieldset legend {
	padding: 0 10px;
}
.tif-form fieldset + fieldset,
.tif-form .wrap-option + .wrap-option {
	margin-top: .5em;
}
.tif-form .wrap-option header,
.tif-form .wrap-option > label {
	font-weight: bold;
}
.tif-form small {
	font-size:small;
	display:block;
	opacity: .5;
}
.tif-form input[type=checkbox] {
	vertical-align: middle;
}
.tif-form .wrap-input label::after {
	content: "\A";
	white-space: pre;
}

/* BEGIN INFO */
.tif-form a.info {
	text-decoration: none;
	position: absolute;
	right: 0;
}
.tif-form a.info span {
	position:absolute;
	padding:14px;
	margin-top: -1em;
	right: 45px;
	min-width: 250px;
	max-width:350px;
	opacity:1;
	z-index: 999;
	background:rgba(231, 231, 231,1);
	border: 1px solid #cecece;
	color:#000;
	/*transform*/
	-webkit-transform:scale(0) rotate(-12deg);
	   -moz-transform:scale(0) rotate(-12deg);
		-ms-transform:scale(0) rotate(-12deg);
		 -o-transform:scale(0) rotate(-12deg);
			transform:scale(0) rotate(-12deg);
	/*transition*/
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
		-ms-transition:all .25s;
		 -o-transition:all .25s;
			transition:all .25s;
	/*border-radius*/
	border-radius:3px;
}
.tif-form a.info:hover span,
.tif-form a.info:focus span,
.tif-form a.info:active span {
	opacity:1;
	/*transform*/
	-webkit-transform:scale(1) rotate(0deg);
	   -moz-transform:scale(1) rotate(0deg);
		-ms-transform:scale(1) rotate(0deg);
		 -o-transform:scale(1) rotate(0deg);
			transform:scale(1) rotate(0deg);
}
/* END INFO */
/* Sortable */
.customize-control ul.tif-sortable,
.tif-form ul.tif-sortable {
	width: 100%;
}
li#customize-control-homepage_control {
	margin-bottom: 12px;
}
.customize-control ul.tif-sortable li,
.tif-form ul.tif-sortable li {
	min-height: 0px;
	padding:5px 10px;
	max-width:600px;
	background:#ddd;
	cursor: grab;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.customize-control ul.tif-sortable li label,
.tif-form ul.tif-sortable label {
	flex-basis: 100%;
}
.tif-form ul.tif-sortable.expandable li {
	flex-wrap: wrap;
	max-width:100%;
}
.tif-form ul.tif-sortable.expandable label.section-header {
	flex-basis: 50%;
	min-height: 1rem;
}
.tif-form ul.tif-sortable.expandable .section-buttons {
	flex-basis: 17%;
	text-align: right;
}
.tif-form ul.tif-sortable.expandable .remove {
	cursor: pointer;
}
.tif-form ul.tif-sortable.expandable .section-panel {
	flex-basis: 100%;
	margin-top: 5px;
}
.tif-form ul.tif-sortable.expandable li.active {
	background:#666;
	color:#fff;
	padding-bottom: 1px;
}
.tif-form ul.tif-sortable.expandable li .section-panel {
	display: none;
}
.tif-form ul.tif-sortable.expandable li.active .section-panel {
	display: block;
	padding: 10px;
	background:#fff;
	margin-left: -9px;
	margin-right: -9px;
	flex-basis: calc(100% + 18px);
}
.customize-control ul.tif-sortable li .dashicons-menu,
.tif-form ul.tif-sortable li .dashicons-menu {
	order: 1;
}
.customize-control ul.tif-radio-img,
.tif-form ul.tif-radio-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1px
}
.customize-control ul.tif-key-array-color li {
	float: left;
	margin: 2px;
}
.customize-control ul.tif-key-array-color li:nth-child(5n+1) {
	clear: left;
	border-collapse: collapse;
}
.customize-control ul.tif-key-array-color input[type="radio"],
.customize-control ul.tif-radio-img input[type="radio"],
.tif-form ul.tif-radio-img input[type="radio"] {
	display: none !important;
}
.customize-control ul.tif-key-array-color input[type="radio"] + label,
.customize-control ul.tif-radio-img input[type="radio"] + label,
.tif-form ul.tif-radio-img input[type="radio"] + label {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center
}
.customize-control ul.tif-key-array-color input[type="radio"] + label small,
.customize-control ul.tif-radio-img input[type="radio"] + label small,
.tif-form ul.tif-radio-img input[type="radio"] + label small {
	position: absolute;
	bottom: 3px;
	left: 3px;
	right: 4px;
	text-align: center;
	line-height: .8rem;
	background: rgba(255, 255, 255, .8)
}
.customize-control ul.tif-radio-img input[type="radio"] + label img,
.tif-form ul.tif-radio-img input[type="radio"] + label img {
	border: 3px solid transparent;
	margin-right: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
}
.customize-control ul.tif-key-array-color input[type="radio"] + label img {
	border: 3px solid transparent;
	margin-right: 10px;
	border-radius:50%;
	width:24px;
	height:24px;
}
.customize-control ul.tif-key-array-color li label {
	display: flex;
	justify-content: center;
	align-content: center;
}
.customize-control ul.tif-key-array-color li label.tif-color-none::before {
	content:"×" !important;
	position: absolute;
	font-size: 20px;
	color: #d91313;
	top: calc(50% - 10px);
}
.customize-control ul.tif-key-array-color input[type="radio"] + label.tif-color-none img {
	border: 3px solid #cecece;
}
.customize-control ul.tif-key-array-color input[type="radio"] + label img,
.customize-control ul.tif-radio-img input[type="radio"] + label img {
	margin-right: 1px;
}
.customize-control ul.tif-key-array-color input[type="radio"]:checked + label img,
.customize-control ul.tif-radio-img input[type="radio"]:checked + label img,
.tif-form ul.tif-radio-img input[type="radio"]:checked + label img {
	border: 3px solid #0073aa;
}
.customize-control li.tif-key-array-color-item {
	margin-bottom: 0;
}
.customize-control ul.tif-key-array-color .tif-key-array-color-range {
	float: none;
	width: 100%;
	padding: 0.3rem 0;
	display: flex;
	justify-content: space-between;
}
.customize-control ul.tif-key-array-color .tif-brightness-range {
	flex-wrap: wrap;
}
.customize-control ul.tif-key-array-color .tif-brightness-range span {
	flex-basis: 33%;
}
.customize-control ul.tif-key-array-color .tif-brightness-range span.lighter {
	display: flex;
	justify-content: start;
}
.customize-control ul.tif-key-array-color .tif-brightness-range span.normal {
	text-align: center;
}
.customize-control ul.tif-key-array-color .tif-brightness-range span.darker {
	display: flex;
	justify-content: end;
}
.customize-control ul.tif-key-array-color .tif-brightness-range input {
	flex-basis: 95%;
	margin: auto;
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	margin-top: 4px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.customize-control ul.tif-key-array-color .tif-brightness-range input::-moz-range-thumb {
	width: 23px;
	height: 24px;
	border: 0;
	border-radius: 50%;
	background: url('../../assets/img/contrasticon.png');
	cursor: pointer;
}
.customize-control ul.tif-key-array-color .tif-brightness-range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 23px;
	height: 24px;
	border-radius: 50%;
	background: url('../../assets/img/contrasticon.png');
	cursor: pointer;
}
.customize-control ul.tif-key-array-color input[type='checkbox'] {
	margin-top: 2px;
}
div.customize-section-description {
	margin-top: 10px;
}
.tif-customizer-info,
.tif-customizer-warning {
	position: relative;
	padding: .4rem;
	padding-left: 2rem;
	/* margin: 1rem 0; */
	color: #212529;
	border-width: 1px;
	border-style: solid;
	border-color:#d7d7d7;
	border-radius: 2px;
	background-color: #e7e9ed;
	opacity: 1;
	transition: opacity 0.3s;
	font-style: italic;
}
p + p.tif-customizer-info,
p + p.tif-customizer-warning {
	margin-top: -.5em !important;
}
span > p.tif-customizer-info,
span > p.tif-customizer-warning {
	margin-top: 0 !important;
}
/* .customize-control-description p.tif-customizer-info,
.customize-control-description p.tif-customizer-warning {
	margin-top: 0 !important;
} */
.tif-customizer-info {
	background-color: #d1ecf1 !important;
	color: #0c5460 !important;
	border-color: #bee5eb !important;
}
.tif-customizer-warning {
	background-color: #fff3cd !important;
	color: #856404 !important;
	border-color: #ffeeba !important;
}
.tif-customizer-info::before,
.tif-customizer-warning::before {
	font-family: "dashicons";
	font-size: 1.2rem;
	font-style: normal !important;
	position: absolute;
	left: .4rem;
	top: 50%;
	margin-top: -.8em;
	opacity: .8;
}
.tif-customizer-info::before {
	content: "\f348";
}
.tif-customizer-warning::before {
	content: "\f534";
}
/* @media (min-width: 992px) {
	.tif-form.inline .wrap-option {
		flex-direction: row;
		align-items: stretch;
	}
	.tif-form.inline .wrap-option header,
	.tif-form.inline .wrap-option > label {
		display: flex;
		flex-basis: 25%;
		align-items: center;
	}
	.tif-form.inline .wrap-option div {
		flex-basis: 75%;
	}
} */


/* Tif form BO layout */
.tif-form {
	background:#F1F1F1 !important;
}
.tif-form.inline .wrap-option {
	position: relative;
}
.tif-form.inline .wrap-option:nth-child(2n+3) {
	background: #f9f9f9
}
.tif-form fieldset {
	border:1px solid #E4E4E4;
}
.tif-form .wrap-option header,
.tif-form .wrap-option > label {
	background-color: #eeeeee;
	color:#444;
}
.tif-form .wrap-option header,
.tif-form .wrap-option > label,
.tif-form .wrap-option .wrap-input,
.tif-form .wrap-option a.info {
	padding: 10px;
	text-decoration: none;
}
.tif-form .wrap-option .wrap-input ul {
	margin: 0;
}
.tif-form .form-submit {
	padding:10px 0;
}
.tif-form .wp-picker-container input[type="text"],
.tif-form .wp-picker-container textarea {
	width:auto;
}
.tif-form input[type="text"],
.tif-form textarea {
	width:100%;
	max-width:600px;
}
.tif-form .wp-editor-container textarea {
	max-width:100%;
}
.tif-form input[type="text"] {
	max-width:300px;
}
.tif-form .hidden,
.tif-form .handlediv {
	display: none;
}
.tif-form .add-tif-elements {
	margin-bottom:5px !important;
	box-shadow: none !important;
}
.tif-form .submit-btn {
	margin: 1.5em 0;
}
.tif-form .error {
	color:#f00;
}
.form-field .image-preview,
.tif-form .image-preview {
	max-width: 400px;
	max-height: 200px;
	width: auto;
	height: auto;
	border-radius: 5px;
	margin: 10px 0;
	display: block;
}
.tif-form .image-id,
.form-field .image-id,
.tif-form .image-url,
.form-field .image-url {
	display: none;
}
.tif-form .image-preview.hidden {
	display: none;
}
.fixed .column-cat-id {
	width:40px;
}
.fixed .column-thumb {
	width:100px;
}
.fixed .column-thumb img {
	max-width:80px;
	height: auto;
	border-radius: 5px;
}
/* END FORM */

/* TABS */
/* tabs flex layout */
.tif-form.tif-tabs,
.tif-form.tif-tabs .tab-content {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.tif-form.tif-tabs > label,
.tif-form .tab-content > label {
	order: -1;
}
.tif-form.tif-tabs .tab-content {
	opacity: 0;
	height:0;
	position: absolute;
	left:-9999px;
}
.tif-form .tab-content > div {
	width: 100%;
}
.tif-form.tif-tabs input[type="radio"]:checked + label + .tab-content {
	opacity: 1;
	height:auto;
	position: relative;
	left:0;
	min-height: 400px;
	padding: 10px;
}
.tif-form.tif-tabs .tab-content .tab-content {
	padding: 0px !important;
}
/* tabs BO layout */
.tif-form.tif-tabs > label {
	z-index: 999;
	flex-basis: 20%;
	max-width: 130px;
	padding:10px 0;
	text-align:center;
	color:#333333;
	background: #E4E4E4;
	margin-bottom: -1px;
	line-height: 24px;
	border:1px #cecece solid;
	border-bottom:0;
	border-radius:3px 3px 0px 0px;
}
.tif-form.tif-tabs > label {
	margin-right: 5px;
}
.tif-form.tif-tabs label .dashicons {
	color:#999;
	padding-right: 5px;
	vertical-align: middle;
	font-size: 1.3em;
}
.tif-form.tif-tabs .tab-content {
	width: 100%;
	border: 1px solid #ddd;
	background: #fff;
}
.tif-form.tif-tabs input[type="radio"]:checked + label {
	background: #fff;
}
/* subtabs layout */
.tif-form .tab-content > label {
	background: #fff;
	padding: .5em 1em;
	margin: 0.5em .5em 1em 0;
	cursor: pointer;
	border-width: 0;
	border-radius: 2px;
}
.tif-form .tab-content .tab-content {
	width: 100%;
	padding: 1em 0;
	border-width: 0;
}
.tif-form .tab-content input[type="radio"]:checked + label.subtab {
	background: #eee;
}
.tif-form a.info::before {
	content: "\f348";
	font-family: dashicons;
	font-size: 1rem;
}
/* END TIF ADMIN GENE */

@media (max-width: 781px) {
	.tif-form.tif-tabs label .dashicons {
		display: block;
		margin: 0 auto;
	}
	.tif-form {
		line-height: 2.4rem;
	}
}
@media (min-width: 782px) {

}

.tif-scrollable-div {
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	padding: 1rem;
	max-height: 150px;
	overflow-y: auto;
	scrollbar-color: #313543 rgba(0,0,0,.1);
	scrollbar-width: thin;
	border-radius: .25rem;
}
.tif-scrollable-div img {
	max-width: 150px !important;
	border-radius: .25rem;
}
.tif-scrollable-div img + img {
	margin-top: 10px;
}

/* Customizer */
ul.tif-multirange,
ul.tif-multinumber.column {
	display: flex;
	flex-direction: column;
}
ul.tif-multirange label div,
ul.tif-multinumber.column label div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul.tif-multinumber.row  {
	display: flex;
	flex-direction: row ;
}
ul.tif-multinumber.row label div {
	display: flex;
	flex-direction: column;
	align-items: start;
}

ul.tif-multinumber li input,
ul.tif-multinumber li select {
	max-width: 100px;
}

/* ul.tif-length label {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
ul.tif-length input,
ul.tif-length select {
	max-width: 80px !important;
} */

/* BEGIN IRIS PICKER */
.wp-picker-container .iris-picker {
	height:290px !important;
}
.wp-picker-container .iris-slider {
	height:183px !important;
}
.iris-picker {
	padding-bottom:17px !important;
}
.iris-picker .iris-palette {
	border-radius: 50px !important;
	box-shadow: 1px !important;
	margin: 2px;
	height:30px !important;
	width:30px !important;
	margin-left:.8px !important;
	margin-top:1px !important;
	margin-right:0;
	border-radius: 50px !important;
	box-shadow: 1px !important;
	margin: 2px;
}
.iris-picker .iris-palette:nth-child(5n+1) {
	clear: left;
	border-collapse: collapse;
}
.customize-control-tif-color-palette {
	max-height: 250px;
	overflow-y: auto;
	scrollbar-color: #313543 rgba(0,0,0,.1);
	scrollbar-width: thin;
}
.tif_color_palette_button {
	background: transparent;
	border-width: 0;
	padding: 2px 5px;
	width:100%
}
.tif_color_palette_button > div {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	height:25px;
}
.tif_color_palette_button > div > div {
	flex-basis: 25%;
}
/* END IRIS PICKER */
